<div class="container">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" routerLink="/">TestPortal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/starttest">Start</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/about">About Us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item text-right">
            <a class="nav-link" href="/register">Register</a>
            </li>
        </ul>
        </div>
    </nav>
</div>