<div class="container">
    <div class="card">
        <img src="assets/images/codetocare.jpg" alt="afjdsafkj">
        <div calss="card-body">
            <div class="text-center challenge-type spacing">HIRING</div>
            <div class="text-center challenge-name">Philipps code to care</div>
            <div class="text-center challenge-type">ENDS IN</div>
            <div class="text-center challenge-name spacing">01 : 03 : 56</div>
            <div class="text-center startButton"><button class="btn button" (click)="startTest()">START NOW</button></div>
        </div>
    </div>
</div>